{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Farmily{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Farmily</h1>
        <div>
            {% if user.is_authenticated %}
                Выполнен вход пользователем <strong>{{ user.username }}</strong>.
            {% else %}
                Вход не выполнен.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Продукты</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
                
                <li class="nav-item">
                    <a href="{% url 'profile' user.pk %}" class="nav-link">Профиль</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>